#home{
  text-align: center;
  font-size: 1.2em;
  background-color: rgba(17, 16, 16, 0.53);
  width: clamp(400px, 30%, 100vw);

  .user-row{


    #userPP, #btn-logout{
      height: 50px;
      border-radius: 100%;
      image-rendering: initial;
    }
    #btn-logout{
      cursor: pointer;
      aspect-ratio: 1;
      background-color: red;
      border: none;
    }

    #btn-dialog{
      height: 3em;
    }
  }
}

