#login-page{

  display: flex;
  flex-flow: column;
  width: clamp(350px, 50%, 400px);
  gap: 2em;

  & > div {
    text-align: center;
    font-size: 1.2em;
    background-color: rgba(17, 16, 16, 0.53);
    padding: 1em;

    cursor: pointer;
  }

  #drop-zone{
    padding-top: 3em;
    padding-bottom: 3em;
  }
}
