#dex-dialog{
  height: calc(.5 * var(--app-height));
  aspect-ratio: 24/16;
  background-image: url("../../public/imgs/dex_background.png");
  border: calc(.01 * var(--app-height)) black solid;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  --w: 240;
  --h: 160;

  #close-btn{
    position: fixed;
    cursor: pointer;
    top: calc(var(--app-height) / 120);
    right: calc(var(--app-height) / 100);
    color: black;
  }

  .stat{
    font-size: calc(var(--app-height) / 32);
    position: absolute;
    left: calc(var(--app-height) / 50);
    width: calc(var(--app-height) / 7);
    text-align: right;

    &#seen{
      top: calc(var(--app-height) / 9.5);
    }
    &#owned{
      top: calc(var(--app-height) / 5);
    }
  }

  #sprites{
    display: flex;
    flex-flow: column;
    overflow-y: scroll;

    position: fixed;
    left: calc(var(--app-height) / 5.1);
    top: calc(var(--app-height) / 13.5);
    width: calc(var(--app-height) / 5.4);
    height: calc(var(--app-height) / 2.95);
    scroll-snap-type: y mandatory;
    scroll-snap-align: center;

    & > div{
      scroll-snap-align: center;
      aspect-ratio: 1;
      transform-origin: center;
      transition-delay: 100ms;
    }

    & > div:not(.selected){
      //transform: scale(0.9);
    }


    &::-webkit-scrollbar{
      display: none;
    }
  }

  #names{
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
    font-size: calc(var(--app-height) / 40);
    gap: calc(var(--app-height) / 32);

    scroll-snap-type: y mandatory;
    scroll-snap-align: center;

    &::-webkit-scrollbar{
      display: none;
    }

    position: fixed;
    left: calc(var(--app-height) / 2.4);
    top: calc(var(--app-height) / 23);
    width: calc(var(--app-height) / 3.7);
    height: calc(var(--app-height) / 2.5);

    div{
      scroll-snap-align: center;
      scroll-snap-stop: always;
      display: flex;

      div:nth-child(1){
        display: flex;
        justify-content: center;
        align-items:center;
      }

      .ball{
        width: calc(var(--app-height) / 60);
        height: calc(var(--app-height) / 60);
        margin-right: calc(var(--app-height) / 100);
      }
    }

  }

}
