.poke-details{
    position: relative;
    height: 100%;
    aspect-ratio: 80/156;
    background-image: url("/public/imgs/poke-data.png");
    background-size: 100%;

    display: flex;
    flex-flow: column;
    padding-right: calc(var(--app-height) * 2 / 156);
}

.poke-img{
    height: calc(var(--app-height) * 85 / 156);
    padding: calc(var(--app-height) * 18 / 156) calc(var(--app-height) * 6 / 156) calc(var(--app-height) * 11 / 156) calc(var(--app-height) * 14 / 156);
    object-fit: cover;
}

.types{
    position: absolute;
    width: calc(var(--app-height) * 12 / 156);
    right: calc(var(--app-height) * 12 / 156);
    top: calc(var(--app-height) * 18 / 156);
}

.types img{
    aspect-ratio : 32 / 14;
}

.poke-data{
    height: calc(var(--app-height) * (156 - 85) / 156);
}

.poke-stats{
    font-size: 2.5vh;
    padding: calc(var(--app-height) * 6 / 156)
}

.header-icon{
    width: 5vh;
    padding: 1vh;
}

.p-tabview-nav{
    justify-content: space-around;
}

.selected{
    background-color: rgba(0, 0, 0, .2);
}