.poke-details{
    position: relative;
    height: 100%;
    aspect-ratio: 80/156;
    background-image: url("../../public/imgs/poke-data.png");
    background-size: 100%;

    display: flex;
    flex-flow: column;
    padding-right: calc(var(--app-height) * 2 / 156);

    overflow-y: hidden;
}

.poke-img{
    height: calc(var(--app-height) * 80 / 156);
    padding: calc(var(--app-height) * 18 / 156) calc(var(--app-height) * 6 / 156) calc(var(--app-height) * 8 / 156) calc(var(--app-height) * 14 / 156);
    object-fit: cover;
}

.types{
    position: absolute;
    width: calc(var(--app-height) * 12 / 156);
    right: calc(var(--app-height) * 12 / 156);
    top: calc(var(--app-height) * 18 / 156);

    img{
        aspect-ratio : 32 / 14;
    }
}


.tab-select{
    aspect-ratio: 160 / 16;
    padding-left: calc(var(--app-height) * 23 / 156);
    padding-right: calc(var(--app-height) * 23 / 156);

    &.tab-0{
        background-image: url("../../public/imgs/barre_0.png");
    }
    &.tab-1{
        background-image: url("../../public/imgs/barre_1.png");
    }
    &.tab-2{
        background-image: url("../../public/imgs/barre_2.png");
    }
    &.tab-3{
        background-image: url("../../public/imgs/barre_3.png");
    }

    div{
        color: transparent;
        cursor: pointer;
        width: calc(var(--app-height) * 4 / 156);
        height: 100%;
    }
}



.tab-content{
    width: 100%;
    --w: 160;
    --h: 139;
    aspect-ratio: var(--w) / var(--h);
    position: relative;
    span{
        font-size: calc(var(--app-height) / 31);
    }

    &.stats-tab{
        background-image: url("../../public/imgs/stats.png");

        span:nth-child(odd){
            color: white;
            text-align: center;
        }
        span:nth-child(even){
            color: black;
            text-align: right;
            --shadow-color: transparent !important;
        }

        .stats{
            position: absolute;
            left: calc(100% * 3 / var(--w));
            top: calc(100% * 37 / var(--h));
            width: calc(100% * 156 / var(--w));
            height: calc(100% * 48 / var(--h));

            display: grid;
            grid-template: 1fr 1fr 1fr / calc(100% * 48 / var(--w)) calc(100% * 46 / var(--w)) calc(100% * 42 / var(--w)) calc(100% * 21 / var(--w));
        }

        .xp {
            position: absolute;
            left: calc(100% * 3 / var(--w));
            top: calc(100% * 92 / var(--h));
            width: calc(100% * 152 / var(--w));
            height: calc(100% * 32 / var(--h));

            display: grid;
            grid-template: 1fr 1fr / calc(100% * 87 / var(--w)) 1fr
        }
    }

    &.moves-tab{
        background-image: url("../../public/imgs/moves.png");

        .moves{
            position: absolute;
            left: calc(100% * 7 / var(--w));
            top: calc(100% * 14 / var(--h));
            width: calc(100% * 156 / var(--w));
            height: calc(100% * 20 / var(--h));

            display: grid;
            grid-template: repeat(4, 1fr) / calc(100% * 35 / var(--w)) calc(100% * 77 / var(--w)) calc(100% * 45 / var(--w));
            row-gap: calc(100% * 12 / var(--h));

            .type-badge{
                height: 90%
            }

            span{
                cursor: pointer;
            }
        }

        .move-selection{
            --rect-h: 15.5;
            position: absolute;

            width: calc(100% * 161 / var(--w));
            left: calc(100% * 1 / var(--w));
            top: calc( 100% * (12.5 + var(--i) * var(--rect-h)) / var(--h))
        }

        .description{
            position: absolute;

            width: calc(100% * 152 / var(--w));
            max-height: calc(100% * 32 / var(--w));
            left: calc(100% * 5 / var(--w));
            top: calc( 100% * 101 / var(--h));

            span{
                padding-left: calc(100% * 2 / var(--w));
            }
        }
    }
}

