body{
    background-image: url("/public/imgs/background.png");
    background-size: 100%;
    display: flex;
    justify-content: center;
}

.App {
    --aspect-ratio: calc(307/160);
    aspect-ratio: var(--aspect-ratio);
    display: flex;
    position: relative;
}

.horizontal{
    height: 100vh;
    --app-height: 100vh;
}

.vertical{
    width: 100vw;
    --app-height: calc(100vw / var(--aspect-ratio));
}

#drop-zone{
    width: 30%;
    height: 50%;
    background-color: rgba(17, 16, 16, 0.53);
    border-radius: 25px;
    font-size: calc(var(--app-height) / 30);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
