body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    image-rendering: pixelated;
    background-size: 100%;
}

.type-badge{
}

.poke-font{
    font-family: PKMN;
    color: white;
    text-shadow: 0.2vh 0 #000, -0.2vh 0 #000, 0 0.2vh #000, 0 -0.2vh #000,
    0.1vh 0.1vh #000, -0.1vh -0.1vh #000, 0.1vh -0.1vh #000, -0.1vh 0.1vh #000;
}

@font-face {
    font-family: 'PKMN';
    src: url('./pokemon-emerald.ttf') format('truetype');
}


.p-tabview .p-tabview-nav,
.p-tabview .p-tabview-panels,
.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link,
.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled) .p-tabview-nav-link,
.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link
{
    background: transparent !important;
}