body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.debug{
    border-radius: 5px;
    border: 2px dot-dash red;
    background-color: rgba(0, 0, 0, .6);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    image-rendering: pixelated;
    background-size: 100%;
}

.poke-font{
    font-family: PKMN;
    color: white;
    --shadow-color: black;
    text-shadow: calc(var(--app-height) / 500) 0 var(--shadow-color), calc(var(--app-height) / -500) 0 var(--shadow-color), 0 calc(var(--app-height) / 500) var(--shadow-color), 0 calc(var(--app-height) / -500) var(--shadow-color),
    calc(var(--app-height) / 1000) calc(var(--app-height) / 1000) var(--shadow-color), calc(var(--app-height) / -1000) calc(var(--app-height) / -1000) var(--shadow-color), calc(var(--app-height) / 1000) calc(var(--app-height) / -1000) var(--shadow-color), calc(var(--app-height) / -1000) calc(var(--app-height) / 1000) var(--shadow-color);
}

i.pi{
    text-shadow: none;
    color: white;
}

@font-face {
    font-family: 'PKMN';
    src: url('./pokemon-emerald.ttf') format('truetype');
}


.p-tabview .p-tabview-nav,
.p-tabview .p-tabview-panels,
.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link,
.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled) .p-tabview-nav-link,
.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link
{
    background: transparent !important;
}

.p-sidebar{
    //background-color: #C60928 !important;
}

.p-sidebar-content{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
